.clickable {
    cursor: hand;
}

.handle {
    width: 15px;
    color: #ddd;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.handle-head {
    width: 15px;
}
.drag-placeholder {
    border: 0;
    display: table-row;
}
.ui-sortable-helper {
    display: table;
}