.clickable {
    cursor: hand;
}

.handle {
    width: 15px;
    color: #ddd;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.handle-head {
    width: 15px;
}
.drag-placeholder {
    border: 0;
    display: table-row;
}
.ui-sortable-helper {
    display: table;
}
nav.navbar ol.breadcrumb {
    margin: 7px 10px 7px 0;
    background-color: transparent;
}
@media (min-width: 768px) {
    nav.navbar ol.breadcrumb {
        float: left;
        padding-left: 0;
    }
}
nav.navbar.nagative-margin {
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}

.editor-icon {
    margin-left: 5px;
}
