
  html, body, .wrapper {
    height: 100%;
  }

  body {
    padding: 52px 0px 0px 0px;
    box-sizing: border-box;
  }

  .split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
  }

  .content {
    background-color: #fff;
    height: 100%;
  }
  .content.content-tree {
    padding: 15px 0 15px 15px;
  }
  .content.content-panel {
    padding: 15px;
  }

  .gutter {
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #F6F6F6;
  }

  .gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('/vertical.png');
  }

  .gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('/horizontal.png');
  }

  .split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
  }
