{{ $path := .Path }}
{{ $imports := .Imports }}
package main

import (
	"os"
	"fmt"
	"kego.io/process"

	_ "kego.io/system"
	_ "kego.io/system/types"

	{{ if not (eq $path "kego.io/system") }}
		_ "{{ $path }}"
		_ "{{ $path }}/types"
	{{ end }}

	{{ range $importName, $importPath := $imports }}
		_ "{{ $importPath }}"
		_ "{{ $importPath }}/types"
	{{ end }}
)

func main() {
	dir, _, recursive, path, imports, err := process.Initialise()
	if err != nil {
		fmt.Println(err)
        os.Exit(1)
	}
	if err := process.Validate(dir, recursive, path, imports); err != nil {
		fmt.Println(err)
		os.Exit(1)
	}
}