{{ $path := .Path }}
{{ $imports := .Imports }}
package main

import (
	"os"
	"fmt"
	"kego.io/process"

	_ "kego.io/system"
	_ "kego.io/system/types"

	{{ if not (eq $path "kego.io/system") }}
		_ "{{ $path }}"
		_ "{{ $path }}/types"
	{{ end }}

	{{ range $importName, $importPath := $imports }}
		_ "{{ $importPath }}"
		_ "{{ $importPath }}/types"
	{{ end }}
)

func main() {
	if err := process.ValidateFiles(); err != nil {
		fmt.Println(err)
		os.Exit(1)
	}
}