{{ $path := .Path }}
{{ $imports := .Imports }}
package {{ $path | name }}

import (
	"reflect"

	"kego.io/json"

	{{ if not (eq $path "kego.io/system") }}
		"kego.io/system"
	{{ end }}

	{{ range $importName, $importPath := $imports }}
		{{ import $importName $importPath $path }}
	{{ end }}
)

{{ range $typeName, $type := .Types }}

	{{ $name := $type.Id }}
	{{ $full := $typeName }}
	{{ $go := $type.GoName }}

	{{ $vars := map "type" $type "name" $name "full" $full "go" $go "path" $path "imports" $imports }}

	//***********************************************************
	//*** {{ $name }} ***
	//***********************************************************

	{{ if not $type.Interface }}
		{{/* We don't need these bits for interface types */}}
		{{ template "struct.tmpl" $vars }}
	{{ end }}
{{ end }}

func init() {
	{{ range $typeName, $type := .Types }}
		{{ if not $type.Interface }}
			{{ reference "kego.io/json" "RegisterType" $path $imports }}({{ $typeName | quote }}, reflect.TypeOf(&{{ $type.GoName }}{}))
		{{ end }}
	{{ end }}
}