{{ $path := .path }}
{{ $imports := .imports }}
{{ if and (not .type.IsNativeValue) (not .type.Exclude) }}
{{ if not (eq .type.Description "") }}// {{ .type.Description }}{{ end }}
type {{ .go }} struct {

	{{ if not .type.Basic }}
		*{{ reference_id "kego.io/system" "base" $path $imports }}
	{{ end }}
	{{ range $embed := .type.Embed }}
		*{{ $embed.GoReference $path $imports }}
	{{ end }}

	{{ range $propertyName, $property := .type.Properties }}
	{{ if not (eq $property.Description "") }}// {{ $property.Description }}{{ end }}
	{{ $property.GoName $propertyName }} {{ $property.GoTypeDescriptor $path $imports }}
	{{ end }}
}
{{ end }}